google-adk
chainlit
langchain
langchain-community
langchain-huggingface
langchain-openai 
langchain-neo4j
langchain-core 
langchain-redis
huggingface_hub[hf_xet]
fastapi
pytest
uvicorn 
loguru
langfuse
redis         
python-dotenv
